@import "reset.scss";
@import "header.scss";

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.172;
  color: #000;
  background: #e5e5e5;
  // background: linear-gradient(90deg, #00669C 14.58%, #28418A 39.75%, #443682 68.41%);
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}
.container {
  max-width: 1162px;
  margin: 0 auto;
  padding: 0px 16px;
}
.button {
  display: inline-flex;
  align-items: center;
  display: inline-flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.171;
  padding: 21px 60px;
  background: #00bb34;
  box-shadow: 2px 8px 30px 0px #00bb34;
  border-radius: 10px;
  color: white;
}
.title {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: black;
}
////////////////////////////////////////////// section hero //////////////////
.hero {
  padding: 325px 0px 20px;
  background: url("../img/hero/bg1.png") no-repeat 100% 70%,
    url("../img/hero/bg2.png") no-repeat 10% 90%,
    linear-gradient(270deg, #5f24a8 35.63%, #01669c 83.92%);

  // display: none;
}
@media (max-width: 768px) {
  .hero {
    padding: 260px 0px 20px;
    background: url("../img/hero/bg1.png") no-repeat 100% 60% / 218px,
      url("../img/hero/bg2.png") no-repeat 10% 43% / 234px,
      linear-gradient(270deg, #5f24a8 35.63%, #01669c 83.92%);
  }
}
@media (max-width: 532px) {
  .hero {
    padding: 260px 0px 20px;
    background: url("../img/hero/bg1.png") no-repeat 100% 85% / 76px,
      url("../img/hero/bg2.png") no-repeat 10% 60% / 234px,
      linear-gradient(270deg, #5f24a8 35.63%, #01669c 83.92%);
  }
}
@media (max-width: 532px) {
  .hero {
    padding: 220px 0px 20px;
  }
}
.hero__wrapper {
  display: flex;
}
@media (max-width: 732px) {
  .hero__wrapper {
    flex-direction: column;
  }
}
.hero__items {
  width: 50%;
}
@media (max-width: 768px) {
  .hero__items {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .hero__items {
    width: 100%;
  }
}
.hero__title {
  font-size: 39px;
  line-height: 1.171;
  color: white;
  min-width: 520px;
  margin-bottom: 41px;
}
@media (max-width: 667px) {
  .hero__title {
    min-width: auto;
    width: 100%;
  }
}
@media (max-width: 532px) {
  .hero__title {
    font-size: 25px;
    line-height: 1.172;
  }
}
.hero__list-items {
  margin-bottom: 41px;
  margin-left: 16px;
}
.hero__list-item {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.197;
  list-style-type: disc;
  color: white;
}
@media (max-width: 532px) {
  .hero__list-item {
    font-size: 17px;
    line-height: 1.197;
  }
}
.hero__button {
  margin-bottom: 321px;
  margin-bottom: calc(100% - 311px);
}
@media (max-width: 900px) {
  .hero__button {
    margin-bottom: 224px;
  }
}
@media (max-width: 732px) {
  .hero__button {
    margin-bottom: 50px;
  }
}
@media (max-width: 532px) {
  .hero__button {
    padding: 13px 28px;
    margin-bottom: 30px;
  }
}
.hero__image {
  position: absolute;
  top: 233px;
  left: 25%;
  padding-left: 10px;
}
@media (max-width: 1490px) {
  .hero__image {
    top: 250px;
  }
}
@media (max-width: 1380px) {
  .hero__image {
    top: 300px;
  }
}
@media (max-width: 960px) {
  .hero__image {
    top: 356px;
  }
}
@media (max-width: 900px) {
  .hero__image {
    width: 588px;
    top: 400px;
    left: 21%;
  }
}
@media (max-width: 800px) {
  .hero__image {
    // left: 17%;
  }
}
@media (max-width: 767px) {
  .hero__image {
    left: 17%;
  }
}
@media (max-width: 732px) {
  .hero__image {
    // left: 17%;
    position: inherit;
  }
}
@media (max-width: 732px) {
  .hero__image {
    margin-left: -19%;
  }
}
@media (max-width: 532px) {
  .hero__image {
    margin-left: 0px;
    width: 359px;
  }
}
@media (max-width: 400px) {
  .hero__image {
    margin-left: -73px;
  }
}
@media (max-width: 320px) {
  .hero__image {
    margin-left: -78px;
  }
}
///////////////////////////////////// services /////////////////////////////
.services {
  padding: 30px 0px 115px;
  padding: 30px 0px 0px;
}
@media (max-width: 768px) {
  .services {
    padding: 30px 0px 0px;
  }
}
@media (max-width: 575px) {
  .services {
    padding: 30px 0px 59px;
  }
}
@media (max-width: 574px) {
  .services {
    background: url('../img/services/services_bg1.png') no-repeat 100% 32%,
                url('../img/services/services_bg2.png') no-repeat 0% 95%;
  }
}
@media (max-width: 320px) {
  .services {
    padding: 30px 0px 36px;
  }
}
.services__items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px -16px;
  flex-wrap: wrap;
}
@media (max-width: 1176px) {
  .services__items {
    max-width: 869px;
    margin: 0 auto;
  }
}
@media (max-width: 900px) {
  .services__items {
    max-width: 100%;
    margin: 0 auto;
  }
}
.services__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 258px;
  height: 280px;
  margin: 16px;
  background: linear-gradient(180deg, #a6dbf5 0%, #451874 97.92%);
  border-radius: 28px;
}
.services__item:last-child {
  margin-bottom: 0px;
}
@media (max-width: 630px) {
  .services__item {
    flex: 0 0 209px;
    height: 224px;
    margin: 12px;
  }
}
@media (max-width: 320px) {
  .services__item {
    flex: 0 0 156px;
    height: 167px;
    margin: 21px;
  }
}
.services__item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97px;
  height: 97px;
  background: white;
  border-radius: 50%;
  margin-bottom: 31px;
}
@media (max-width: 580px) {
  .services__item-image {
    margin-bottom: 15px;
  }
}
@media (max-width: 320px) {
  .services__item-image {
    width: 70px;
    height: 70px;
    padding: 8px;
    margin-bottom: 12px;
  }
}
@media (max-width: 320px) {
  .services__item:nth-child(2) img {
    width: 43px;
    height: 43px;
  }
}
.services__title {
  font-size: 15px;
  line-height: 1.2;
  color: white;
  max-width: 173px;
  text-align: center;
}
@media (max-width: 320px) {
  .services__title {
    font-size: 14px;
    line-height: 1.142;
    max-width: 150px;
  }
}
////////////////////////////// costs //////////////////////////////////////
.costs {
  padding: 115px 0px;
  // background: url('../img/cost/cost_bg.png') no-repeat 61% center / 20%;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .costs {
    overflow: inherit;
  }
}
.costs::before {
  position: absolute;
  content: "";
  background: url("../img/cost/cost_bg.png") no-repeat 3% 50% / 19%;
  top: 0%;
  left: 46%;
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .costs::before {
    background: url("../img/cost/cost_bg1.png") no-repeat 100% 0% / 50%;
    background: url(../img/cost/cost_bg1.png) no-repeat 100% 0%/30%;
    top: 10%;
    left: 30%;
    width: 70%;
    height: 100%;
    z-index: 0;
  }
}
@media (max-width: 767px) {
  .costs::before {
    background: url("../img/cost/cost_bg1.png") no-repeat 100% 0% / 50%;
    top: 43%;
    left: 30%;
    width: 70%;
    height: 100%;
    z-index: 1;
  }
}
@media (max-width: 480px) {
  .costs::before {
    display: none;
  }
}
@media (max-width: 575px) {
  .costs {
    padding: 0px 0px 62px;
  }
}
.costs-container {
  max-width: 1920px;
  padding: 0px 16px;
  margin: 0 auto;
}
@media (max-width: 775px) {
  .costs-container {
    padding: 0px;
  }
}
.costs__wrapper {
  display: flex;
  position: relative;
}
@media (max-width: 767px) {
  .costs__wrapper {
    box-shadow: 0px 4px 15px 5px rgba(95, 36, 168, 0.5);
  }
}
.costs__image {
  width: 50%;
}
@media (max-width: 767px) {
  .costs__image {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
  }
}
.costs__image img {
  margin-left: -16px;
}
@media (max-width: 767px) {
  .costs__image img {
    margin-left: 0px;
  }
}
.costs__items-wrapper {
  padding: 0px 0px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .costs__items-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* max-width: 100%; */
    width: 100%;
    z-index: 1;
    padding: 0px 3px;
  }
}
.costs__items {
  max-width: 570px;
}

@media (max-width: 767px) {
  .costs__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 388px;
  }
}
.costs__title {
  font-size: 28px;
  font-weight: 500;
  font-weight: 1.196;
  margin-bottom: 26px;
}
@media (max-width: 768px) {
  .costs__title {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .costs__title {
    color: white;
  }
}
@media (max-width: 480px) {
  .costs__title {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.costs__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.196;
  color: black;
  margin-bottom: 26px;
}
@media (max-width: 767px) {
  .costs__text {
    color: white;
  }
}
@media (max-width: 480px) {
  .costs__text {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .costs__button {
    padding: 13px 23px;
  }
}
////////////////////////////////// services-cost ////////////////////////////////////////////
.services-cost {
  padding: 0px 0px 20px;
  position: relative;
}
.services-cost::before {
   position: absolute;
   content: '';
   top: 50%;
   left: 0%;
   width: 30%;
   height: 50%;
   background: url('../img/services-cost/services-cost_bg.png')no-repeat 0% 0% / 300px;
}
@media (max-width: 1700px) {
  .services-cost::before {
    background-size: 160px;
  }
}
@media (max-width: 1200px) {
  .services-cost::before {
    top: 10%;
    left: 45%;
  }
}
@media (max-width: 992px) {
  .services-cost::before {
    top: 10%;
  }
}
@media (max-width: 767px) {
  .services-cost::before {
    top: -10%;
    left: 10%;
  }
}
@media (max-width: 574px) {
  .services-cost::before {
    top: -3%;
    left: 10%;
  }
}
.services-cost__title {
  text-transform: uppercase;
  margin-bottom: 46px;
}
.services-cost__subtitle {
font-size: 22px;
font-weight: 700;
line-height: 1.171;
margin-bottom: 46px;
}
.services-cost__items {
display: flex;
justify-content: space-between;
position: relative;
z-index: 1;
}
@media (max-width: 574px) {
  .services-cost__items {
    flex-direction: column;
    align-items: center;
  }
}
.services-cost__item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 76px 50px 30px;
}
@media (max-width: 800px) {
  .services-cost__item-wrapper {
    margin: 0px 40px 50px 30px;
  }
}
@media (max-width: 768px) {
  .services-cost__item-wrapper {
    margin: 0px 60px 50px 30px;
  }
}
@media (max-width: 767px) {
  .services-cost__item-wrapper {
    margin: 0px 35px 50px 0px;
  }
}
@media (max-width: 574px) {
  .services-cost__item-wrapper {
    margin: 0px 0px 50px 0px;
  }
}
.services-cost__item {
position: relative;
border: 12px solid rgba(76, 26, 139, 0.42);
border-radius: 50%;
min-width: 350px;
background: white;
padding: 30px;
margin-bottom: 50px;
}
@media (max-width: 992px) {
  .services-cost__item {
    min-width: 271px;
    min-height: 271px;
  }
}
@media (max-width: 800px) {
  .services-cost__item {
    min-width: 231px;
    min-height: 231px;
  }
}
@media (max-width: 710px) {
  .services-cost__item {
    padding: 25px;
  }
}
@media (max-width: 667px) {
  .services-cost__item {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 574px) {
  .services-cost__item {
    margin: 0px 0px 50px 0px;
  }
}
.services-cost__item-left {
position: absolute;
top: 60%;
left: 70%;
width: 184px;
height: 184px;
border-radius: 50%;
background: #5f24a8;
color: white;
font-size: 55px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
@media (max-width: 992px) {
  .services-cost__item-left {
      font-size: 45px;
      width: 154px;
      height: 154px;
      left: 60%;
      font-size: 35px;
      margin: 0px 33px 0px 30px;
  }
}
@media (max-width: 800px) {
  .services-cost__item-left {
    left: 50%;
  }
}
@media (max-width: 800px) {
    .services-cost__item-left {
      width: 116px;
      height: 116px;
      font-size: 35px;
      margin: 0px 33px 0px 30px;
    }
}
@media (max-width: 574px) {
  .services-cost__item-left {
    left: 60%;
    margin: 0px 0px 0px 0px;
  }
}
.services-cost__item-left span {
 display: block;
}
.services-cost__item-inner {
display: flex;
justify-content: center;
align-items: center;
height: 0px;
padding-top: 100%;
position: relative;
}
.services-cost__item-image {
   width: 100%;
   height: 100%;
}
.services-cost__item-img {
 position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.services-cost__item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.197;
  text-align: center;
  max-width: 227px;
}
@media (max-width: 768px) {
  .services-cost__item-title {
    max-width: 212px;
  }
}
/////////////////////////////

.prices {
  padding: 50px 0px;
}
.prices__title {
  display: inline-block;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.181;
}
@media (max-width: 992px) {
  .prices__title {
    font-size: 18px;
    line-height: 1.171;
  }
}
.prices__items-wrapper {
  border: 1px solid #999999;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}
.prices__items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 22px 0px 22px 56px;
  border-bottom: 1px solid #999999;
}
@media (max-width: 800px) {
  .prices__items {
    padding: 22px 0px 22px 12px;
  }
}
@media (max-width: 574px) {
  .prices__items {
    flex-direction: column;
    padding: 22px 12px;
  }
}
.prices__items:nth-child(odd) {
  background: rgba(228, 249, 255, 0.68);
}
.prices__items:last-child {
  padding: 36px 56px 41px;
  justify-content: flex-start;
}
@media (max-width: 800px) {
  .prices__items:last-child {
    justify-content: flex-start;
    padding: 36px 56px 41px 12px;
  }
}
@media (max-width: 574px) {
  .prices__items:last-child {
    justify-content: center;
    padding: 36px 12px 41px 12px;
    text-align: center;
  }
}
.prices__item {
  position: relative;
  display: flex;
  flex: 1 1 33.3333%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 667px) {
  .prices__item {
    justify-content: flex-start;
  }
}
@media (max-width: 574px) {
  .prices__item {
    text-align: center;
    padding: 0px 20px;
  }
}
@media (max-width: 574px) {
  .prices__item:first-child{
    margin-bottom: 10px;
  }
}
@media (max-width: 667px) {
  .prices__item:last-child {
    display: none;
  }
}
.prices__item:nth-child(1) {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  justify-content: flex-start;
}
@media (max-width: 992px) {
  .prices__item:nth-child(1) {
    font-size: 16px;
    line-height: 1.171;
    padding-right: 10px;
  }
}
.prices__item:nth-child(2) {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  min-height: 55px;
}
@media (max-width: 992px) {
  .prices__item:nth-child(2) {
    min-height: 35px;
  }
}
@media (max-width: 992px) {
  .prices__item:nth-child(2) {
    font-size: 16px;
    line-height: 1.171;
    justify-content: space-around;
  }
}
@media (max-width: 667px) {
  .prices__item:nth-child(2) {
    justify-content: flex-start;
    padding: 0px 12px;
    border-right: none;
  }
}
@media (max-width: 574px) {
  .prices__item:nth-child(2) {
    border-left: none;
  }
}
.prices__item:nth-child(2) span {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.166;
  color: #FF5C00;
  margin-left: 10px;
}
@media (max-width: 992px) {
  .prices__item:nth-child(2) span {
    font-size: 20px;
    line-height: 1.172;
  }
}
@media (max-width: 992px) {
  .prices__button {
    padding: 10px 17px;
  }
}
.prices__items-link {
  text-decoration: underline;
  font-style: italic;
  color: black;
}
.prices__item-button {
  display: none;
}
@media (max-width: 667px) {
  .prices__item-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
}
@media (max-width: 320px) {
  .prices__item-button .button {
      padding: 13px 25px;
  }
}
