@import 'reset.scss';
@import 'header.scss';

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.172;
    color: #000;
    background: #E5E5E5;
    // background: linear-gradient(90deg, #00669C 14.58%, #28418A 39.75%, #443682 68.41%);
}
.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px 16px;
}
.button {
    display: flex;
    align-items: center;
}
